<div class="container-fluid p-3">
  <div class="row no-gutters">
    <div class="col-md">
      <div class="card mr-2">
        <h1 class="ml-2 mt-1>">News</h1>
        <!--<a class="btn btn-dark" href="/news/new" role="button">投稿</a>-->
        <ul class="list-group list-group-flush p-1">
          <% @news.each do |news| %>
            <p>
              <h5><%= news.title %></h5>
              <%= news.text %>
            </p>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md">
      <div class="card ml-2">
        <h1 class="ml-2 mt-1">Shift</h1>
          <% if current_user.id === 1 %>
            <%= button_to "確定シフトを作成", new_fixed_shift_path, {method: :get} if current_user.id === 1 %>
            <%= button_to "全スタッフの希望シフトを確認", hope_shifts_index_date_path, {method: :get} if current_user.id === 1 %>
          <% else %>
            <%= button_to "希望シフトを投稿", {controller: 'hope_shifts', action: 'new'}, {method: :get} %>
            <%= button_to "希望シフトを確認", hope_shifts_index_user_id_path, {method: :get} %>
          <% end %>
        
        <div class="ml-2 mr-2 mb-2" id="calendar"></div>
        <div id="calendar"></div>
        
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    // 画面遷移を検知
    $(document).on('turbolinks:load', function () {
        // lengthを呼び出すことで、#calendarが存在していた場合はtrueの処理がされ、無い場合はnillを返す
        if ($('#calendar').length) {
            function eventCalendar() {
                return $('#calendar').fullCalendar({
                });
            };
            function clearCalendar() {
                $('#calendar').html('');
            };

            $(document).on('turbolinks:load', function () {
                eventCalendar();
            });
            $(document).on('turbolinks:before-cache', clearCalendar);

            $('#calendar').fullCalendar({
                events: 'callback.json'
            });
        }
    });
});


</script>
